.projects {
  display: flex;
  flex-direction: row;

  /* font-size: 200%; */

  color: inherit;

  margin: 5rem;
  
}

.projects a {
  text-decoration: none;
}

.projects a:visited{
  text-decoration: none;
  color: #FFF;
}

.projects .left {
  width: 50%;
  font-size: 2.5em;
  margin-left: 2rem;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

li {
  font-size: 3.5rem;
  list-style-type: none;
}

li.active:before {
	content: ">";
	position: absolute;
	left: 4rem;

  animation: bounce 1.5s infinite;
}

.projects .right {
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
}

.projects .right img {
  width: 75%;
  opacity: 1;
  margin: 1rem;
}

.projects .right .links {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 75%;
}

.rotate {
  float: right;
  transform: rotate(-45deg);
}

footer {
  position: fixed;
  left: 5rem;
  bottom: 5rem;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 3rem;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
}
